<!-- Banner -->
<%- partial('_partial/banner.ejs', {
    mainText: page.title || theme.default_post_title || __('default_post_title'),
    secondaryText: '',
    faIconCss: ''
}) %>

<!-- Content -->
<div class="grid-container">
    <div class="content grid-x">
        <div class="large-8 large-offset-2 cell">

            <% if (_.find(page.categories.data, ['name', 'event'])) { %>
              <%- partial('_partial/event-page', {metadata: page}) %>
            <% } %>

            <!-- Main Post Content -->
            <%- page.content %>

        </div>
    </div>
</div>
