$main-color = #29C6CD
$gradient-color-1 = #36B1DA
$gradient-color-2 = #29C6CD
$main-font = 'Lustria', serif


@import "partial/_base.styl"
@import "partial/_content.styl"
@import "partial/_highlight.styl"
